// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#btn {
  background-color: #337AB7;
  border-radius: 5px;
}

.container {
  margin: 0px 300px;
}

#btn-ask {
  text-decoration: none;
  color: black;
  padding: 10px;
  border-color: #337AB7;
  background-color: #337AB7;
  border-radius: 5px
}
